#@layout()
#define main()

<div class="layui-card-header">
	添加集团
</div>
<div class="layui-card-body">
	<form class="layui-form" action="/admin/brand/save">
		<div class="sttl">主要信息</div>
		<div class="layui-form-item">
			<div class="layui-inline theme-required">
				<label class="layui-form-label">客户名称</label>
				<input type="text" name="brand.code" lay-verify="required" autocomplete="off" class="layui-input" style="width: 250px;">
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">客户行业</label>
				<div class="layui-input-inline">
					<select name="interest" lay-filter="aihao">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">客户证件类型</label>
				<div class="layui-input-inline">
					<select name="interest" lay-filter="aihao">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">公司性质</label>
				<div class="layui-input-inline">
					<input name="brandType" value="合资" title="合资" type="radio">
					<input name="brandType" value="国企" title="国企" type="radio">
					<input name="brandType" value="民营" title="民营" type="radio">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">证件号码</label>
				<input type="text" name="brand.code" autocomplete="off" class="layui-input" style="width: 250px;">
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">年营业额</label>
				<div class="layui-input-inline">
					<select name="interest" lay-filter="NYYE">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">评分</label>
				<div class="layui-input-block">
					<input name="star" value="一星" title="一星" type="radio">
					<input name="star" value="二星" title="二星" type="radio">
					<input name="star" value="三星" title="三星" type="radio">
				</div>
			</div>
			<div class="layui-block">
				<label class="layui-form-label">客户地址</label>
				<div class="layui-input-inline">
					<select name="provance" lay-filter="PROV">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="city" lay-filter="CITY">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="county" lay-filter="COUN">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<input type="text" name="road" autocomplete="off" placeholder="详细街道" class="layui-input">
				</div>
			</div>
		</div>
		<div class="sttl">附加信息</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block" style="margin-left: 118px;">
				<textarea name='remark' placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
		</div>
		<div>
			<button class="layui-btn" lay-submit lay-filter="save">保存</button>
			<button class="layui-btn layui-btn-primary" id="backBtn">返回</button>
		</div>
</div>

</form>
</div>
<script type="text/javascript">
	// 			editor.customConfig.onchange = function(html) {
	// 				// 监控变化，同步更新到 textarea
	// 				$("#introduction").val(html)
	// 			}
	// 			editor.create();

	layui.use(['form', 'layer', 'layedit'], function() {
		var form = layui.form,
			layer = layui.layer,
			layedit = layui.layedit,
			$ = layui.$;
		//监听提交
		form.on('submit(save)', function(data) {
			$.post($(".layui-form").attr('action'), $(".layui-form").serialize(),
				function(res) {
					layer.msg(res.message);
					if (res.code == 1) {
						setTimeout("location.href='/admin/brand/index'", 500);

					}
				}, "json");

			return false;
		});
		//监听返回
		$('#backBtn').on('click', function(data) {
			location.href = "/admin/brand/index";
			return false;
		});

	});
</script>
<style>
	.theme-required .layui-form-label:before {
		display: inline-block;
		vertical-align: top;
		margin-right: 3px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #c00;
		content: ''
	}

	.layui-inline {
		white-space: nowrap;
	}

	.sttl {
		font-size: 14px;
		color: #000;
		font-weight: 600;
		margin-bottom: 5px;
	}
</style>
#end
